{{> navbar}}
<div class="container mt-3">
  <header class="my-5">
    <h1>Bienvenido a la Bitácora de Vehículos</h1>
    <p>
      Esta aplicación tiene como objetivo registrar el kilometraje de inicio y término de la jornada de trabajo de los vehículos de la empresa.
    </p>
  </header>
  <hr>
  <h3 class="mt-5 mb-3">Últimos 3 registros agregados</h3>
  {{#each articles}}
    <div class="card mb-3">
      <div class="card-body">
        <img src="{{this.image}}" width="250px" height="250px">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.content}}</p>
      </div>
    </div>
  {{/each}}
</div>